.projectsSection {
  min-height: 100dvh;

  padding-top: calc(
    var(--header-height, 80px) + clamp(1.5rem, 4vh, 3rem)
  );
  padding-bottom: 3rem;
  padding-inline: 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  overflow-x: hidden;

  transition: background-color 0.3s ease, color 0.3s ease;

  background-color:  #faf9f8;
  color: #222;

  /* DARK MODE */
  :global(html.dark) & {
     .techs li {
    color: #faf9f8 !important;
    background-color: #242424;
    border: 1px solid rgba(255, 255, 255, 0.06);
  
  }
   
  }
}
