.projectsGrid {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 2rem 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
