.contact {
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #faf9f8;
  color: #000;
  font-family: "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 2rem;
    padding: 0 1rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  &__info {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        color: #0077b6;
      }
    }
  }
}

body.dark .contact {
  background-color: #121212;
  color: #f5f5f5;

  .contact__info a {
    color: #f5f5f5;

    &:hover {
      color: lightgray;
    }
  }
}
