.media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 0.5rem 0; 
  flex-wrap: wrap; 
}

a {
  text-decoration: none;
}

.icon {
  font-size: 2rem;
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.2);
    color: #555;
  }

  
  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

:global(.dark) .icon {
  color: #f5f5f5;

  &:hover {
    color: #ccc;
  }
}
