.techWrapper {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;
  align-items: center;
  gap: 0.4rem;              
  padding: 0.5rem;
  margin-left: 0;
  max-width: 100%;           
  overflow: hidden;          
}

.techIcon {
  font-size: 1.8rem;        
  color: #000;
  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.15);
  }

 
  @media (max-width: 768px) {
    font-size: 1.5rem;
    gap: 0.3rem;
  }

  
  @media (max-width: 480px) {
    font-size: 1.3rem;
  }
}

:global(.dark) .techIcon {
  color: #f5f5f5;
}
