/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #faf9f8;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: gray;
  }
}

body.dark a:hover {
  color: lightgray;
}

.themeToggle {
  color: #f5c518;
  transition: transform 0.3s ease, color 0.3s ease;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

body.dark .themeToggle {
  color: #ffd700;
}
