  @media (max-width: 600px) {
  .content {
    .intro {
      font-size: 2rem;
    }
  }}

.main {
  height: 100svh; 
  width: 100vw; 
  overflow: hidden;
  position: relative;
  padding: 2rem;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAF9F8;
  color: black;


.dark  {
  background-color: #121212;
  color: #f5f5f5;
}
}
.themeToggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  color: #f5c518; // um amarelo bonito

  &:hover {
    //transform: scale(1.2);
    transition: transform 0.3s ease;
  }

  .dark & {
    color: #ffd700;
    
  }
}

a {
color: inherit;

&:hover {
  color: gray;

  .dark & {
    color: lightgray;
  }
}
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;

  > * {
    flex: 1;
  }

  .themeToggle {
    text-align: left;
  }
  .media {
    justify-content: center;
  }

  .techWrapper {
    justify-content: flex-end;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .intro {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .name {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 4rem;
    margin: -0.5rem 0;
  }

  .role {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-size: 2rem;
    text-decoration: underline;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  left: 0;
  padding: 0 2rem;
  box-sizing: border-box;
}

.footerLeft,
.footerRight {
  display: flex;
  flex-direction: column;

  
  a {
    font-size: 1.8rem;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: gray;
    }
  }
}

  

