html, body {
  margin: 0;
  padding: 0;
 overflow: hidden;
}

.main {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0; 
  padding-top: 4rem;
  background-color: #faf9f8;
  color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;

  :global(.dark) & {
    background-color: #121212;
    color: #f5f5f5;
  }

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.leftGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;



  .themeToggle {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    :global(.dark) & {
      color: #f5f5f5;
    }
  }

  .techWrapper,
  .media {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  gap: 1.2rem;

  h1,p{
    margin: 0;
  }

  .intro {
    font-size: 5rem;
    font-style: italic;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .name {
  font-size: clamp(3.5rem, 10vw, 9rem);
  font-weight: 600;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
  letter-spacing: -0.02em;

  // cor de destaque
  color: #f96d80;

  :global(.dark) & {
    color: #ff9cae; // versão mais suave no escuro
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

  .role {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 6rem;

  a {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;

    &:hover {
      color: gray;
    }

    :global(.dark) & {
      color: #f5f5f5;

      &:hover {
        color: lightgray;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      font-size: 1.2rem;
    }
  }
}
